<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="footer-title">songs<span>Block</span></h4>
        <p class="footer-text">
          Store Your Favorite Tunes on the Blockchain - Access Them Anywhere,
          Anytime
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="footer-heading">Contact Us</h4>
        <ul class="contact-list">
          <li>Email: info@example.com</li>
          <li>Phone: 1-800-123-4567</li>
          <li>LinkedIn</li>
          <li>Twitter</li>
          <li>Github</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="footer-heading">Follow Us</h4>
        <ul class="social-icons">
          <li>
            <a href="#"><span class="fa fa-linkedIn">LinkedIn</span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-twitter">Twitter</span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-instagram">Github</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
