.hero-container {
  * {
    margin: 0;
    padding: 0;
  }
  font-family: sans-serif;
  height: calc(100vh - 8vh);
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .my-playlist-btn {
    font-size: 18px;

    background-color: white;
    color: #930f93;
    border: none;
    width: fit-content;
    height: 50px;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 15px;
    z-index: 11;
  }
  .my-playlist-btn:hover {
    transition: 0.5s all ease-in-out;
    background-color: #930f93;
    color: white;
  }
  .shadow-1 {
    position: absolute;
    left: 0%;
    top: 70px;
    z-index: 0;
    display: block;
    width: 40vw;
    height: 50vh;
    background-color: rgb(137 37 112 / 40%);
    -webkit-filter: blur(200px);
    filter: blur(200px);
  }
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 420px;
    column-gap: 20px;
    width: 60%;
    height: 60%;
    .main-title {
      width: 64%;
      font-size: 52px;
      color: #fff;
      span {
        color: #930f93;
      }
    }
    .titles {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        color: white;
        font-size: 40px;
        font-weight: 900;

        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: rgb(147, 15, 147);
          font-size: 44px;
        }
      }
      .tagline {
        color: white;
        font-size: 14px;
        letter-spacing: 0.1em;
      }
    }
  }
  .right-animation {
    .animation-container {
      transform: scale(3);
      @keyframes square-animation {
        0% {
          left: 0;
          top: 0;
        }

        10.5% {
          left: 0;
          top: 0;
        }

        12.5% {
          left: 32px;
          top: 0;
        }

        23% {
          left: 32px;
          top: 0;
        }

        25% {
          left: 64px;
          top: 0;
        }

        35.5% {
          left: 64px;
          top: 0;
        }

        37.5% {
          left: 64px;
          top: 32px;
        }

        48% {
          left: 64px;
          top: 32px;
        }

        50% {
          left: 32px;
          top: 32px;
        }

        60.5% {
          left: 32px;
          top: 32px;
        }

        62.5% {
          left: 32px;
          top: 64px;
        }

        73% {
          left: 32px;
          top: 64px;
        }

        75% {
          left: 0;
          top: 64px;
        }

        85.5% {
          left: 0;
          top: 64px;
        }

        87.5% {
          left: 0;
          top: 32px;
        }

        98% {
          left: 0;
          top: 32px;
        }

        100% {
          left: 0;
          top: 0;
        }
      }

      .loader {
        position: relative;
        width: 96px;
        height: 96px;
        transform: rotate(45deg);
      }

      .loader-square {
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        margin: 2px;
        border-radius: 0px;
        background: #930f93;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        animation: square-animation 10s ease-in-out infinite both;
      }

      .loader-square:nth-of-type(0) {
        animation-delay: 0s;
      }

      .loader-square:nth-of-type(1) {
        animation-delay: -1.4285714286s;
      }

      .loader-square:nth-of-type(2) {
        animation-delay: -2.8571428571s;
      }

      .loader-square:nth-of-type(3) {
        animation-delay: -4.2857142857s;
      }

      .loader-square:nth-of-type(4) {
        animation-delay: -5.7142857143s;
      }

      .loader-square:nth-of-type(5) {
        animation-delay: -7.1428571429s;
      }

      .loader-square:nth-of-type(6) {
        animation-delay: -8.5714285714s;
      }

      .loader-square:nth-of-type(7) {
        animation-delay: -10s;
      }
    }
  }
  .create-playlist-modal-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.384);
    backdrop-filter: blur(1);
  }
}
